*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    font-family: "Nunito",sans-serif;
    }
.input{
    text-align: center;
    margin: 150px 0;

}
input[type="text"]{
    height: 50px;
    width: 600px;
    background: #e7e7e7;
    font-family: "Nunito",sans-serif;
    font-weight: bold;
    font-size: 20px;
    border: none;
    border-radius: 2px;
    padding: 10px 10px;

}
input[type="Submit"]{
    height: 50px;
    width: 100px;
    background: #e7e7e7;
    font-family: "Nunito",sans-serif;
    font-weight: bold;
    font-size: 20px;
    border: none;
    border-radius: 2px;
    padding: 10px 10px;
}

.display{
    width: 600px;
    height: 400px;
    margin-left: 550px;
    margin-top: 10px;
    text-align: center;
    background-color: aquamarine;
    
}

h1{
    text-align: center;
    margin: 100px 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-transform: uppercase;
}
h3{
    text-align: center;
    margin: 50px 0;
    
}